* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "notoserif";
  src: url("../fonts/notoseriflao.ttf");
}
body {
  font-family: "notoserif";
  font-weight: 500;
  background-color: rgba(83, 1, 16, 0.9607843137);
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}
.header-title {
  font-family: "ultra";
  font-size: 1.3rem;
  text-align: left;
  color: white;
  font-weight: 100;
}
.header-form {
  display: none;
}

.offcanvas-header {
  background-color: rgba(0, 0, 0, 0.645);
}

@media (min-width: 1024px) {
  .section-parodistas {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }
}

@media (min-width: 1024px) {
  .parrafo-img {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    gap: 20px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .article-parrafo {
    width: 50vw;
  }
}

@media (min-width: 1024px) {
  .article-img-parodistas {
    max-width: 500px;
  }
}

.carousel-inner {
  height: 250px;
}
@media (min-width: 576px) {
  .carousel-inner {
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .carousel-inner {
    height: 60vh;
    justify-content: center;
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .carousel {
    border: 90px solid rgb(0, 0, 0);
    border-bottom: none;
    border-top: none;
  }
}
@media (min-width: 1024px) {
  .carousel {
    border: 150px solid rgb(0, 0, 0);
    border-bottom: none;
    border-top: none;
  }
}

.carrusel-categorias {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-carrusel {
  color: white;
}

.section-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .section-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}
@media (min-width: 1024px) {
  .section-article {
    width: 72.9vw;
    display: inline-block;
    align-items: flex-start;
    padding: 18px 0px 20px 20px;
  }
}

.title-article {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.article-parrafo {
  text-align: justify;
  padding: 1px 15px;
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.article-figure {
  display: flex;
  justify-content: center;
}

.article-img {
  width: 92vw;
}
@media (min-width: 1024px) {
  .article-img {
    width: 67.9vw;
    padding-bottom: 20px;
  }
}

.article-video {
  width: 92vw;
}
@media (min-width: 1024px) {
  .article-video {
    width: 50vw;
    padding-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .main {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  .main {
    width: 100vw;
  }
}

.article-aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding-left: 10px;
}
@media (min-width: 576px) {
  .article-aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .article-aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.article-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .article-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
  }
}

.title-aside {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding-top: 0.6em;
  padding-bottom: 0.7em;
  width: 300px;
  line-height: 37px;
  align-self: center;
}
@media (min-width: 576px) {
  .title-aside {
    color: white;
    font-family: "notoserif";
    font-weight: 600;
    font-size: 1.7rem;
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    width: 300px;
    line-height: 37px;
    align-self: center;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .title-aside {
    color: white;
    font-family: "notoserif";
    font-weight: 600;
    font-size: 1.7rem;
    padding-top: 0.6em;
    padding-bottom: 0.9em;
    width: 20vw;
    line-height: 37px;
    margin: 0;
  }
}

.tarjeta {
  display: flex;
  flex-direction: column;
  height: 340px;
  max-width: 230px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  align-self: center;
  background-color: rgb(175, 172, 163);
}
@media (min-width: 576px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    align-self: center;
    background-color: rgb(175, 172, 163);
  }
}
@media (min-width: 1024px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 230px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    background-color: rgb(175, 172, 163);
  }
}
.tarjeta__img {
  width: 260px;
  height: 200px;
  background-size: contain;
}
@media (min-width: 576px) {
  .tarjeta__img {
    width: 260px;
    height: 200px;
    background-size: contain;
  }
}
@media (min-width: 1024px) {
  .tarjeta__img {
    width: 260px;
    height: 200px;
    background-size: contain;
  }
}
.tarjeta__img2 {
  width: 240px;
  height: 170px;
  background-size: contain;
}
@media (min-width: 576px) {
  .tarjeta__img2 {
    width: 230px;
    height: 190px;
    background-size: contain;
  }
}
@media (min-width: 1024px) {
  .tarjeta__img2 {
    width: 240px;
    height: 170px;
    background-size: contain;
  }
}
.tarjeta__img4 {
  width: 280px;
  height: 230px;
  background-size: contain;
}
@media (min-width: 576px) {
  .tarjeta__img4 {
    width: 280px;
    height: 240px;
    background-size: contain;
  }
}
@media (min-width: 1024px) {
  .tarjeta__img4 {
    width: 290px;
    height: 240px;
    background-size: contain;
  }
}
.tarjeta__title {
  font-size: 1.4rem;
  color: rgb(1, 13, 13);
  font-family: "notoserif";
  font-weight: 400;
  padding: 0.5em 1.2em;
}
@media (min-width: 1024px) {
  .tarjeta__title {
    font-size: 1.4rem;
    color: rgb(1, 13, 13);
    font-family: "notoserif";
    font-weight: 400;
    padding: 0.7em 1.2em;
  }
}
.tarjeta__title4 {
  font-size: 1.4rem;
  color: rgb(1, 13, 13);
  font-family: "notoserif";
  font-weight: 400;
  padding: 0.5em 1.2em;
}
@media (min-width: 576px) {
  .tarjeta__title4 {
    font-size: 1.4rem;
    color: rgb(1, 13, 13);
    font-family: "notoserif";
    font-weight: 400;
    padding: 0.9em 1.2em;
  }
}
@media (min-width: 1024px) {
  .tarjeta__title4 {
    font-size: 1.4rem;
    color: rgb(1, 13, 13);
    font-family: "notoserif";
    font-weight: 400;
    padding: 0.5em 1.2em;
  }
}

.footer {
  background-color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 100px;
    width: 100vw;
    align-items: start;
    padding-top: 30px;
  }
}
.footer-title {
  padding: 0;
  margin: 0;
  font-size: 0;
}
@media (min-width: 1024px) {
  .footer-title {
    font-family: "ultra";
    font-size: 1.5rem;
    text-align: left;
    color: white;
    font-weight: 100;
  }
}

@media (min-width: 1024px) {
  .contenedor-footer {
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .contenedor-contactos {
    align-items: start;
  }
}

.iconos-title {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .iconos-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    color: white;
  }
}

.iconos-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 5px 30px;
}

.iconos {
  font-size: 27px;
  color: rgb(7, 112, 91);
}

/*-----MAPA------*/
.mapa-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .mapa-contenedor {
    flex-direction: column;
    padding-right: 20px;
  }
}

.mapa-title {
  color: white;
  padding: 5px;
}
@media (min-width: 1024px) {
  .mapa-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.mapa {
  width: 60vw;
  height: 20vh;
}
@media (min-width: 1024px) {
  .mapa {
    width: 20vw;
  }
}

/*---------separador-------*/
.linea-padre-footer {
  background-color: black;
  width: 100vw;
  padding-left: 20px;
  margin: 0;
}
@media (min-width: 1024px) {
  .linea-padre-footer {
    display: inline-block;
  }
}

.linea-footer {
  color: white;
  width: 90vw;
  margin: 0;
}
@media (min-width: 1024px) {
  .linea-footer {
    width: 97vw;
    margin: 0;
    display: flex;
  }
}

.contacto-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
  margin: 0;
  gap: 15px;
}
@media (min-width: 1024px) {
  .contacto-footer {
    background-color: black;
    flex-direction: row;
    gap: 30px;
    padding-left: 15px;
    margin: 0;
  }
}

.lista-footer {
  color: white;
}

/*--------ASIDE--------*/
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  aside {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}
@media (min-width: 1024px) {
  aside {
    display: inline-block;
    width: 270px;
    height: 400px;
    float: right;
  }
}

.article-concurso {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100vw;
}

.tarjeta-padre {
  padding-bottom: 20px;
}

@keyframes mover-tarjeta {
  0% {
    background-color: rgb(175, 172, 163);
  }
  25% {
    background-color: rgb(130, 129, 126);
  }
  50% {
    background-color: rgb(99, 98, 96);
  }
  75% {
    background-color: rgb(72, 71, 69);
  }
  100% {
    background-color: rgb(46, 46, 45);
  }
}
.tarjeta-concurso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
  width: 100vw;
  border: 2px solid black;
  overflow: hidden;
  margin-bottom: 0px;
  align-self: center;
  background-color: rgb(175, 172, 163);
  animation-name: mover-tarjeta;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

.title-article-concurso {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 0;
}
@media (min-width: 1024px) {
  .title-article-concurso {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.title-article-concurso2 {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding: 0;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 0;
}
@media (min-width: 1024px) {
  .title-article-concurso2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
}
.title-article-concurso3 {
  color: black;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.animate__animated {
  color: white;
  font-family: "notoserif";
  font-weight: 600;
  font-size: 1.7rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: 0;
  text-shadow: 10px 7px 4px rgb(6, 6, 66), 4px 4px 2px rgb(22, 22, 214);
}

.tarjeta-animacion {
  display: flex;
  justify-content: center;
  background: radial-gradient(black 50px, rgb(4, 4, 112));
  height: 7.2vh;
  width: 90vw;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .tarjeta-animacion {
    width: 83vw;
  }
}

.tarjeta-animacion2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(black 70px, rgb(4, 4, 112));
  height: 7.2vh;
  width: 90vw;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .tarjeta-animacion2 {
    width: 83vw;
  }
}

@media (min-width: 1024px) {
  .figure-padre {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.figure1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.figure1-img {
  width: 90vw;
}
@media (min-width: 1024px) {
  .figure1-img {
    width: 40vw;
    height: 45vh;
    padding-bottom: 35px;
  }
}

.figure2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.figure2-img {
  width: 90vw;
  padding-bottom: 35px;
}
@media (min-width: 1024px) {
  .figure2-img {
    width: 40vw;
    height: 45vh;
    padding-bottom: 35px;
  }
}

@keyframes caja-contacto {
  100% {
    transform: rotatey(360deg);
  }
}
.tarjeta-contacto-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .tarjeta-contacto-padre {
    flex-direction: row;
  }
}

.tarjeta-contacto {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  color: white;
  background: linear-gradient(to bottom left, rgb(29, 4, 138), rgb(35, 190, 237));
  max-width: 90vw;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid black;
  animation-name: caja-contacto;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@media (min-width: 1024px) {
  .tarjeta-contacto {
    height: 624px;
    gap: 40px;
  }
}

.tarjeta-contacto2 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  color: white;
  background: linear-gradient(to bottom left, rgb(29, 4, 138), rgb(35, 190, 237));
  max-width: 90vw;
  border-radius: 10px;
  border: 2px solid black;
  animation-name: caja-contacto;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@media (min-width: 576px) {
  .tarjeta-contacto2 {
    max-width: 45vw;
  }
}

.title-contacto {
  padding-bottom: 10px;
  font-size: 1.9rem;
  align-self: center;
}

.datos-contacto {
  font-size: 1.1rem;
}

.datos {
  margin: 0;
  color: white;
}

.datos-items {
  color: white;
}

.datos-items:hover {
  color: rgb(18, 18, 225);
}

.input-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 5px;
  margin: 0;
}

.input-form2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 5px;
}

input {
  width: 40vw;
  height: 2.8vh;
}

.radio-padre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.input-submit {
  color: white;
  background: radial-gradient(rgb(84, 2, 2), black);
  width: 100px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

.input-submit:hover {
  background: radial-gradient(rgb(29, 4, 138), rgb(35, 190, 237));
}

.submit-padre {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  max-width: 75vw;
}

@media (min-width: 1024px) {
  .section-murgas {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }
}

@media (min-width: 1024px) {
  .parrafo-img {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    gap: 20px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .article-parrafo {
    width: 50vw;
  }
}

@media (min-width: 1024px) {
  .article-img-murgas {
    max-width: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
