.header {
  @include flex-box(space-between, center);
  background-color: $color-fondo;
  padding: 10px;

  &-title {
    font-family: "ultra";
    font-size: 1.3rem;
    text-align: left;
    font-weight: 100;
    color: $color-text;
  }

  &-title a {
    text-decoration: none;
    box-shadow: none;
    color: $color-text;
  }

  &-form {
    display: none;
  }
}

.offcanvas-title {
  font-size: 1.4rem;
}

.offcanvas-header {
  background-color: rgba(0, 0, 0, 0.645);
}

