
.nav-link:hover {
    background-color: grey;
    border-radius: 3px;
    
}



.section-article {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile-mg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    @include mobile-lg() {
        width: 72.9vw;
        display: inline-block;
        align-items: flex-start;
        padding: 18px 0px 20px 20px;
    }
}

.title-article {
    color: $color-text;
    font-family: "notoserif";
    font-weight: 600;
    font-size: 1.7rem;
    padding: 20px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
}



.article-parrafo {
    text-align: justify;
    padding: 1px 15px;
    color: $color-text;
    font-weight: 300;
    padding-bottom: 20px;
    
    
}

.article-figure {
    display: flex;
    justify-content: center;

}


.article-img {
    width: 92vw;

    @include mobile-lg() {
        width: 67.9vw;
        padding-bottom: 20px;
    }


}


.article-video {
    width: 92vw;

    @include mobile-lg() {
        width: 50vw;
        padding-bottom: 20px;
    }
}




.main {

    @include mobile-mg {
        width: 600px;



    }

    @include mobile-lg() {
        width: 100vw;
    }
}