.section-murgas {
    @include mobile-lg {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
}

.parrafo-img-murgas {

    @include mobile-lg {
        display: flex;
        flex-flow: row nowrap;
        align-items: start;
        gap: 20px;
        padding-bottom: 30px;
    }


}


.parrafo-murgas {
    text-align: justify;
    padding: 1px 15px;
    color: $color-text;
    font-weight: 300;
    padding-bottom: 20px;

    @include mobile-lg {
        width: 50vw;
        
    }
}

.img-murgas {
    width: 92vw;
    @include mobile-lg {
           max-width: 500px;
           
    }
}

.segundo-parrafo-img-murgas {

    @include mobile-lg {
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: start;
        gap: 20px;
        padding-bottom: 30px;
        padding-left: 25px;
    }


}

.segundo-parrafo-murgas {
    text-align: justify;
    padding: 1px 15px;
    color: $color-text;
    font-weight: 300;
    padding-bottom: 20px;

    @include mobile-lg {
        width: 50vw;
        
    }
}

.segundo-img-murgas {
    width: 92vw;
    @include mobile-lg {
           max-width: 500px;
           
    }
}