.article-aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding-left: 10px;

    @include mobile-mg {
        padding: 0;
    }

    
}

.article-tarjeta {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile-mg {
        flex-flow: row wrap;
        gap: 20px;


    }
}

.title-aside {
    color: $color-text;
    font-family: "notoserif";
    font-weight: 600;
    font-size: 1.7rem;
    padding-top: .6em;
    padding-bottom: 0.7em;
    width: 300px;
    line-height: 37px;
    align-self: center;

    @include mobile-mg {
        flex-direction: column;
    }

    @include mobile-lg() {
        padding-bottom: 0.9em;
        width: 20vw;
        margin: 0;
    }
}

.tarjeta {
    display: flex;
    flex-direction: column;
    height: 340px;
    max-width: 230px;
    border: 2px solid $color-fondo;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    align-self: center;
    background: linear-gradient(to right, rgb(175, 172, 163) 0% 50%, $color-fondo);

    

   

    &__img {
        width: 260px;
        height: 200px;
        object-fit: cover;

        
    }

    &__img2 {
        width: 240px;
        height: 170px;
        object-fit: cover;

        @include mobile-mg {
            width: 230px;
            height: 190px;
            
        }

        @include mobile-lg() {
            width: 240px;
            height: 170px;
            
        }
    }

    &__img4 {
        width: 280px;
        height: 230px;
        object-fit: cover;

        @include mobile-mg {
            width: 280px;
            height: 240px;
            
        }

        @include mobile-lg() {
            width: 290px;
            height: 240px;
            
        }
    }

    &__title {
        font-size: 1.4rem;
        color: rgb(1, 13, 13);
        font-family: "notoserif";
        font-weight: 400;
        padding: 0.5em 1.2em;

        @include mobile-lg() {
            padding: 0.7em 1.2em;
        }
    }

    &__title4 {
        font-size: 1.4rem;
        color: rgb(1, 13, 13);
        font-family: "notoserif";
        font-weight: 400;
        padding: 0.5em 1.2em;

        @include mobile-mg {
            padding: 0.9em 1.2em;

        }

        @include mobile-lg() {
            padding: 0.5em 1.2em;

        }
    }
}